@font-face {
    font-family: 'Capriola';
    src:url('./font/Capriola-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'belligerent';
    src:url('./font/belligerent.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
}



.nav_onorico,
.logo,
.logonorico, 
.footer,
.main_container,
.pict_items
.items,
.list_items li,
.list_items,
.items,
body,
.panier,
.contain,
.left,
.right,
.fas.fa-shopping-cart {
	display : flex;
}

.logo {
	width: 100%;
}



.fas.fa-shopping-cart{
	background: -webkit-linear-gradient(0.40turn ,#915cf9, #d28040);
 				-webkit-background-clip: text;
 	 			-webkit-text-fill-color: transparent;
 	margin-right: 10px;
 	font-size: 2em;
 	justify-content: center;
 	width: 100%;
 	text-align: center;
	
}

.panier {
	margin-right: 50px;
	align-items: baseline;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}




body {
	max-width: 1920px;
	min-width: 1100px;
	font-family: 'Capriola', cursive;
	justify-content: center;
	flex-direction: column;
}


ul {
list-style:none;
margin-left:0;
padding-left:0;
}
li {
margin-bottom:15px;/* à adapter */
width: 100%;
}


.nav_onorico {
	max-height: 200px;
	background-color: #F3E9F1;
	width: 100%;

}

.logo {
	width: 50%;
	align-items: center;
	margin: auto;
}

.logoonorico {

 margin: auto;

}

.main_container {
	flex-direction: column;
}


.footer {
	position: fixed;
	bottom: 0;
	justify-content: center;
	width: 100%;
	background-color: #F3E9F1; 
	margin-top: 30px;
}
.footer p {
	text-align: center;
}


img.picted { 
	max-width: 30vw;
	border-radius: 7px;
	margin-bottom: 30px;
	box-shadow: 12px 12px 20px #494444;

}

.name {
	font-size: 1.5em;
}

.price {
	color: #545050;
}

.main_container { 
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto; 
	justify-content: center;
	min-width: 900px;
}

a {
	text-decoration: none;
	color: #2b2626;
	margin: 20px 20px 20px 20px;
	text-align: center;
}

.ourteddies {
	text-align: center;
	font-size: 2em;
	color: #261624;
    
}

.list_items {
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto;
	max-width: 900px;
	justify-content: center;
}

.items {
	justify-content: center;
	flex-direction: column;

}


.title_teddy {
	text-align: center;
}

.contain {
	flex-direction: row;
	justify-content: space-around;
	align-items: stretch;

}

.img_produit {
	border-radius: 7px;
	margin-bottom: 30px;
	box-shadow: 12px 12px 20px #494444;
	max-width: 30vw;
	margin: auto;

}

.left {
	margin-right: 20px;
}


.right {
	flex-direction: column;
	max-width: 500px;
	margin-left: 20px;
	align-items: stretch;
}

.addtocart {
	max-width: 300px;
    max-height: 80px;
    border-radius: 10px;
    background-color: #2d2c2c;
    color: white;
    font-size: 1em;
    padding: 5px 0px 5px 0px;
    box-shadow: 12px 12px 20px #494444;
    font-family: Capriola;
}

#qte_id , 
#choosecolor_id {
	border-radius: 10px;
    background-color: #2d2c2c;
    color: white;
        font-family: Capriola;
        text-align: center;
        padding-left: 3px;
}


.main_container_pn {
	margin: 20px 10px 100px 10px;
}
